
#btn:hover{
    animation: ani 1.1s forwards;
}
@keyframes ani{
    0%{
        background: #fff;
    }
    10%{
        background: rgb(216, 221, 224);
    }
    20%{
        background: rgb(202, 206, 209);
        color:#fff
    }
    30%{
        background: rgb(184, 188, 190);
    }
    40%{
        background: rgb(181, 184, 187);
        color:#fff
    }
    50%{
        background: rgb(162, 164, 167);
    }
    60%{
        background: rgb(140, 142, 145);
        color:#fff
    }
    70%{
        background: rgb(112, 113, 116);
    }
    80%{
        background: rgb(89, 89, 92);
        color:#fff
    }
    90%{
        background: rgb(71, 71, 73);
    }
    100%{
        background: rgb(43, 43, 44);
        color:#fff
    }
}
.blocki1{
    grid-area: block1;
    border-right: 1px solid black;
    background: #B22222;
}
.blocki2{
    grid-area: block2;
    border-right: 1px solid black;
    background: #00FF7F;
}
.blocki3{
    grid-area: block3;
    border-right: 1px solid black;
    background: #FF1493;
}
.blocki4{
    grid-area: block4;
    border-right: 1px solid black;
    background: #7FFFD4;
}
.blocki5{
    grid-area: block5;
    border-right: 1px solid black;
    background: #F0FFFF;
}
.blocki6{
    grid-area: block6;
    background: #00FFFF;
}
#wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    grid-template-rows: 700px;
    border: 1px solid black;
     grid-template-areas: "block1 block2 block3 block4 block5 block6";/*название каждому блоку  */
}
#btn{
    margin-top: 40px;
    align-items: center;
    font-size: 35px;
    color: #778899;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}
.wrapper1{
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    justify-content: space-around;
    align-items: center;
    grid-template-rows: auto;
}
#titles{
    color: rgb(175, 235, 235);
    font-size: 35px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: space-around;
}